<ng-container *ngIf="data else loading">
<h2>{{title}}</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <table class="table table-hover">
        <thead class="table-info">
          <tr>
            <th scope="col" *ngFor="let dataModel of dataModelList">{{dataModel.columnReference}}</th>
            <!-- <th scope="col">Prix Unitaire</th>
            <th scope="col">Quantite</th> -->
            <th scope="col"><a><button class="btn btn-outline-primary" (click)="operation ='add'; init(); ">ADD</button></a></th>
          </tr>
        </thead>
        <tbody>
 <tr *ngFor="let item of data">
               <td *ngFor="let dataModel of dataModelList">{{item[dataModel.columnName]}}</td>
                 <!-- <td>{{produit.prixUnitaire}}</td>
                 <td>{{produit.quantite}}</td> -->
                 <td><a><button class="btn btn-outline-primary" (click)="operation ='edit';  selectedItem = item;">Edit</button></a></td>
                 <td><a><button class="btn btn-outline-danger" (click)="operation ='remove';  selectedItem = item; ">Remove</button></a></td>


        </tr>
        </tbody>
      </table>

    </div>

    <div class="col-lg-5">

      <div class="card">
        <div class="card-header bg-info text-white">
          {{operation ==  'add'  ?  'Ajouter' :
            operation == 'edit'  ? 'Modifier' :
            operation == 'remove'  ? 'Supprimer' : ''}}
        </div>
        <div class="card-body" id="op"  >
          <div *ngIf="operation == 'add' || operation == 'edit'">

            <form [formGroup]="crudForm" (ngSubmit)="operation =='add' ? add() : update()">
           <div *ngFor="let dataModel of dataModelList" [ngSwitch]="dataModel.dataType">
              <div class="form-group" *ngIf="!dataModel.readonly">
                <label>{{dataModel.columnReference}}:</label>
                <input *ngSwitchCase="'string'" type="text" class="form-control" formControlName="{{dataModel.columnName}}" [(ngModel)]="selectedItem[dataModel.columnName]"/>
                <input *ngSwitchCase="'number'" type="number" class="form-control" formControlName="{{dataModel.columnName}}"
[(ngModel)]="selectedItem[dataModel.columnName]"/>
              </div>
              <!--
                <div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid
                && (produitForm.controls['ref'].touched
                || produitForm.controls['ref'].dirty )">
                  Reference est Obligatoire
                </div>-->
              </div>
              <!--
              <div class="form-group">
                <label>Prix Unitaire</label>
                <input type="number" class="form-control" formControlName="prixUnitaire" [(ngModel)]="selectedProduit.prixUnitaire"/>
              </div>

              <div class="form-group">
                <label>Quantite</label>
                <input type="number" class="form-control" formControlName="quantite" [(ngModel)]="selectedProduit.quantite"/>
              </div>
            -->
              <button type="submit" class="btn btn-success"   [disabled]="crudForm.prestine || crudForm.invalid" >
                {{operation =='add'  ?  'Ajouter' :
                  operation =='edit'  ? 'Modifier' :
                  operation =='remove'  ? 'Supprimer' : ''}}
               </button>
            </form>

          </div>
          <div  *ngIf="operation == 'remove' " >
                <p class="card-title">
                    Reference:{{selectedItem.id}}
                </p>
                <p class="card-title">
                    Voulez-vous supprimer cet element?
                </p>
                <button class="btn btn-primary" [disabled]="!selectedItem.id" (click)="delete()">
                  Confirmer
                </button>
          </div>

        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>

<ng-template #loading>
  Loading ....
</ng-template>
