<body>
 <div class="container">
   <div class="row">
    <div class="col-sm-9 col-sm-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Log In</h5>
          <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
             <div class="form-label-group">
               <!-- <label for="username">UserName:</label> -->
               <input type="text" id="username" name="username" class="form-control" placeholder="UserName" formControlName="username" [(ngModel)]="credentials.username" >
               </div>

               <div class="form-label-group">
                 <!-- <label for="password">Password:</label> -->
                 <input type="password" id="password" name="password"  class="form-control" placeholder="Password" formControlName="password" [(ngModel)]="credentials.password" >
                 </div>
                 <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
               <button class="btn btn-lg btn-primary btn-block text-uppercase " type="submit" >Log In</button>
               <div class="container" >
        <button type="button" class="btn btn-lg btn-danger cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
</div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-9 col-sm-7 col-lg-5 mx-auto">
   <div class="imgcontainer">
     <img src="https://pbs.twimg.com/profile_images/438678812042067969/A8Jc0xp8_400x400.png" alt="" class="avatar">
   </div>
</div>
</div>
</div>
</body>
