<nav class="hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link"

        >Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"

        >Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"


      >Utilisateurs</a>
    </li>
  </ul>
</nav>
<!-- routerLink="dashboard"
*ngIf="hasRoleAdmin()"
routerLinkActive="active" -->


<!-- routerLink="product"
  *ngIf="hasRoleUser()"
  routerLinkActive="active" -->


  <!-- routerLink="user"
  *ngIf="hasRoleAdmin()"
  routerLinkActive="active" -->
