<app-crud
[title]="'Produits'"
  [data]="produits"
  [service]="produitService"
  [initItem]="produit"
  [initForm]="produitForm"
  [dataModelList]="produitsModel"

></app-crud>
<!-- [dataModelList]="produitsModel" -->

<!-- <h2>Produits</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <table class="table table-hover">
        <thead class="table-info">
          <tr>
            <th scope="col">Reference</th>
            <th scope="col">Prix Unitaire</th>
            <th scope="col">Quantite</th>
            <th scope="col"><a><button class="btn btn-outline-primary" (click)="operation ='add'; initProduit(); ">ADD</button></a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <tr *ngFor="let produit of produits">
                 <td>{{produit.ref}}</td>
                 <td>{{produit.prixUnitaire}}</td>
                 <td>{{produit.quantite}}</td>
                 <td><a><button class="btn btn-outline-primary" (click)="operation ='edit'; selectedProduit=produit;">Edit</button></a></td>
                 <td><a><button class="btn btn-outline-danger" (click)="operation ='remove'; selectedProduit=produit; ">Remove</button></a></td>


        </tr>
        </tbody>
      </table>

    </div>

    <div class="col-lg-5">

      <div class="card">
        <div class="card-header bg-info text-white">
          {{operation ==  'add'  ?  'Ajouter Produit' :
            operation == 'edit'  ? 'Modifier Produit' :
            operation == 'remove'  ? 'Supprimer Produit' : ''}}
        </div>
        <div class="card-body" id="op"  >
          <div *ngIf="operation == 'add' || operation == 'edit'">

            <form [formGroup]="produitForm" (ngSubmit)="operation =='add' ? addProduit(): updateProduit()">
              <div class="form-group">
                <label>Reference</label>
                <input type="text" class="form-control" formControlName="ref" [(ngModel)]="selectedProduit.ref"/>
              </div>
                <div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid
                && (produitForm.controls['ref'].touched
                || produitForm.controls['ref'].dirty )">
                  Reference est Obligatoire
                </div>
              <div class="form-group">
                <label>Prix Unitaire</label>
                <input type="number" class="form-control" formControlName="prixUnitaire" [(ngModel)]="selectedProduit.prixUnitaire"/>
              </div>

              <div class="form-group">
                <label>Quantite</label>
                <input type="number" class="form-control" formControlName="quantite" [(ngModel)]="selectedProduit.quantite"/>
              </div>
              <button type="submit" class="btn btn-success"   [disabled]="produitForm.prestine || produitForm.invalid" >
                {{operation =='add'  ?  'Ajouter' :
                  operation =='edit'  ? 'Modifier' :
                  operation =='remove'  ? 'Supprimer' : ''}}
               </button>
            </form>
          </div>
          <div  *ngIf="operation == 'remove' " >
                <p class="card-title">
                    Reference:{{selectedProduit.ref}}
                </p>
                <p class="card-title">
                    Voulez-vous supprimer ce produit?
                </p>
                <button class="btn btn-primary" [disabled]="!selectedProduit.ref" (click)="deleteProduit()">
                  Confirmer
                </button>
          </div>

        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>
</div> -->
